@use "../base/templates" as *;
@use "../base/media" as *;

.input-control {
  width: 100%;
}
.input {
  --background: transparent;
  --border: var(--dark);
  --color: var(--dark);
  --background-a: transparent;
  --border-a: var(--primary);
  --color-a: var(--dark);

  width: 100%;
  line-height: 108%;
  padding: 15px 20px;
  outline: none;
  border-radius: 0px;
  border: 1px solid var(--border);
  background-color: var(--background);
  display: grid;

  font-size: 16px;
  color: var(--color);

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  &:focus {
    border-color: var(--border-a);
    background-color: var(--background-a);
    color: var(---color-a);
  }
  &::placeholder {
    color: inherit;
    opacity: 0.7;
  }

  &._outline-white {
    --background: transparent;
    --border: white;
    --color: white;
    --background-a: transparent;
    --border-a: var(--primary);
    --color-a: white;
  }
}

.form-check {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.check-wrapper {
  --url: url("@img/check.svg");
  position: relative;

  &._white {
    --url: url("@img/check-white.svg");
    .wpcf7-list-item-label {
      --border: white;
      --color: rgba(255, 255, 255, 0.75);
      --color-l: var(--primary);
    }
  }

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;

    &:checked + .wpcf7-list-item-label {
      &::before {
        background: var(--url) center / 12px auto no-repeat;
        background-color: var(--background);
      }
    }
  }

  .wpcf7-list-item-label {
    --border: var(--black);
    --color: rgba(153, 142, 131, 0.75);
    --color-l: var(--dark);

    display: flex;
    align-items: center;
    width: fit-content;
    gap: 15px;
    cursor: pointer;

    font-size: 15px;
    color: var(--color);

    @include tablet {
      font-size: 14px;
    }

    a {
      color: var(--color-l);
      @include hover {
        text-decoration: underline;
      }
    }

    &::before {
      display: block;
      content: "";
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      border: 1px solid var(--border);

      @include tablet {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.select {
  position: relative;

  &._open {
    .select-btn {
      .arrow {
        transform: rotate(180deg);
      }
    }
    .select-body {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
.select-btn {
  --color: var(--dark);

  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color);

  &._white {
    --color: white;
  }

  .input {
    pointer-events: none;
    padding-right: 40px;
  }
  .arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 20px;
    transition: transform 0.3s ease;
  }
}
.select-body {
  --border: var(--dark);
  --background: white;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--background);
  border: 1px solid var(--border);
  max-height: 220px;
  overflow-y: auto;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);

  z-index: 10;

  transition:
    transform 0.4s ease,
    opacity 0.4s ease,
    visibility 0.4s ease;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
  }
}

.select-item {
  --border: var(--dark);
  --background: transparent;
  --background-h: var(--ghost);
  --color: var(--dark);

  cursor: pointer;
  user-select: none;
  padding: 10px 12px;
  color: var(--color);

  transition: background-color 0.3s ease;
  &:not(:last-child) {
    border-bottom: 1px solid var(--border);
  }

  @include hover {
    background-color: var(--background-h);
  }
}
