<aside>
  <div class="modal" id="modal-feedback">
    <div data-fancybox-close class="modal__close">
      <svg>
        <use xlink:href='img/icons/icons.svg#icon-close'></use>
      </svg>
    </div>
    <div class="modal__body">
      <div class="modal__title l-title" data-text="Связаться с нами">
        Связаться с нами
      </div>
      <p class="modal__content">
        Оставьте заявку и мы свяжемся с Вами в ближайшее время.
      </p>
      <form action="#" class="modal__form">
        <div class="form-grid">
          <div style="display: none;">
            <input type="text" class="input-note">
          </div>
          <div class="input-control">
            <input type="text" placeholder="Имя" class="input" />
          </div>
          <div class="input-control">
            <input type="tel" placeholder="Телефон" class="input" />
          </div>
          <button type="submit" class="btn-s">Оставить заявку</button>
          <div class="form-check">
            <div class="check-wrapper">
              <span class="wpcf7-form-control-wrap">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input type="checkbox" name="acceptance-469" />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Я даю согласие на
                          <a href="/personal-data" target="_blank">
                            Обработку персональных данных
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
            <div class="check-wrapper">
              <span class="wpcf7-form-control-wrap">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input type="checkbox" name="acceptance-469" />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Соглашаюсь на
                          <a href="/advertisement-policy" target="_blank">
                            Получение информационно-рекламной рассылки
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</aside>
