<section class="s-adv" id="s-adv">
  <div class="container">
    <div class="s-adv__wrap">
      <div class="s-adv__item">
        <div>
          <div class="item-name">20 лет</div>
          <div class="item-text">на рынке</div>
        </div>
      </div>
      <div class="s-adv__item">
        <div>
          <div class="item-name">18</div>
          <div class="item-text">Дилерский центров</div>
        </div>
      </div>
      <div class="s-adv__item">
        <div>
          <div class="item-name">15</div>
          <div class="item-text">Брендов в портфеле</div>
        </div>
      </div>
      <div class="s-adv__item">
        <div>
          <div class="item-name">Топ-6 в РФ</div>
          <div class="item-text">по продажам авто с пробегом</div>
        </div>
      </div>
    </div>
  </div>
</section>
