<section class="sect-p bg-ghost s-contacts" id="s-contacts">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">
        Контактная информация дилера
        <br />
        TENET/CHERY
      </h2>
    </div>
    <div class="s-contacts__wrapper">
      <div class="s-contacts__main">
        <img src="@img/logo-contacts.svg" alt="logo" class="s-contacts__logo" />
        <a href="tel:+78422505455" class="s-contacts__tel">
          +7 (8422) 50-54-55
        </a>
        <div class="s-contacts__info">
          <div class="s-contacts__info-item">
            <div class="item-title">Адрес:</div>
            <div class="item-val">г. Ульяновск, ул. Урицкого, д. 37 А</div>
          </div>
          <div class="s-contacts__info-item">
            <div class="item-title">Режим работы:</div>
            <div class="item-val">Ежедневно с 08:00 до 20:00</div>
          </div>
        </div>
        <div class="s-contacts__buttons">
          <a href="#modal-feedback" data-modal-title="Заказать звонок" data-fancybox class="btn-s">
            <span>Заказать звонок</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
            </svg>
          </a>
          <a href="#" target="_blank" rel="nofollow" class="btn-s _outline">
            <span>Заказать звонок</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-map"></use>
            </svg>
          </a>
        </div>
      </div>
      <div
        data-icon="@img/icon-location.png"
        data-zoom="19"
        data-center="[54.330158800079424,48.363353576721124]"
        class="map s-contacts__map"
      ></div>
    </div>
  </div>
</section>
