<section class="sect-m s-credit" id="s-credit">
  <div class="container">
    <div class="s-credit__wrapper">
      <div class="s-credit__main">
        <h2 class="s-title s-credit__title">Заявка на кредит</h2>
        <div class="content-box s-credit__content">
          <p>
            Полная стоимость кредита (займа) в % годовых от 0,01% ДО 15,808%
            оценивайте свои финансовые возможности и риски кредит от 0,01%
          </p>
        </div>
        <div
          data-models-options="Модель 1, Модель 2, Модель 3"
          data-marks-options="Марка 1, Марка 2, Марка 3"
        >
          <form action="#" class="s-credit__form">
            <div class="form-grid">
              <div class="input-control">
                <div class="select" data-target-options="marks">
                  <div class="select-btn">
                    <input
                      type="text"
                      placeholder="Марка"
                      readonly
                      class="input select-input"
                    />
                    <svg class="arrow">
                      <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
                    </svg>
                  </div>
                  <div class="select-body"></div>
                </div>
              </div>
              <div class="input-control">
                <div class="select" data-target-options="models">
                  <div class="select-btn">
                    <input
                      type="text"
                      placeholder="Модель"
                      readonly
                      class="input select-input"
                    />
                    <svg class="arrow">
                      <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
                    </svg>
                  </div>
                  <div class="select-body"></div>
                </div>
              </div>
              <div class="input-control">
                <input type="text" placeholder="Имя" class="input" />
              </div>
              <div class="input-control">
                <input type="tel" placeholder="Телефон" class="input" />
              </div>
              <div class="input-control">
                <input type="text" placeholder="Срок кредита" class="input" />
              </div>
              <div class="input-control">
                <input
                  type="text"
                  placeholder="Первоначальный взнос"
                  class="input"
                />
              </div>
              <button type="submit" class="btn-s">Оставить заявку</button>
              <div class="form-check">
                <div class="check-wrapper">
                  <span class="wpcf7-form-control-wrap">
                    <span class="wpcf7-form-control wpcf7-acceptance">
                      <span class="wpcf7-list-item">
                        <label>
                          <input type="checkbox" name="acceptance-469" />
                          <span class="wpcf7-list-item-label">
                            <span>
                              Я даю согласие на
                              <a href="/personal-data" target="_blank">
                                Обработку персональных данных
                              </a>
                            </span>
                          </span>
                        </label>
                      </span>
                    </span>
                  </span>
                </div>
                <div class="check-wrapper">
                  <span class="wpcf7-form-control-wrap">
                    <span class="wpcf7-form-control wpcf7-acceptance">
                      <span class="wpcf7-list-item">
                        <label>
                          <input type="checkbox" name="acceptance-469" />
                          <span class="wpcf7-list-item-label">
                            <span>
                              Соглашаюсь на
                              <a href="/advertisement-policy" target="_blank">
                                Получение информационно-рекламной рассылки
                              </a>
                            </span>
                          </span>
                        </label>
                      </span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="s-credit__info">
        <h2 class="l-title s-credit__info-title">
          Воспользуйтесь выгодными предложениями от банков‑партнёров
        </h2>
        <div class="content-box s-credit__info-content">
          <p>
            Выгодные субсидированные ставки, без первого взноса — минимальный
            первоначальный взнос от 0%, гибкие сроки кредитования до 10 лет с
            возможностью досрочного погашения, быстрое предварительное решение
            по автокредиту от 30 минут, оформление и подписание документов прямо
            в дилерском центре, широкий выбор страховых продуктов по спец.
            тарифам.
          </p>
        </div>
        <div class="s-credit__info-banks">
          <div class="s-credit__info-bank">
            <img src="@img/alfa.svg" alt="logo">
          </div>
          <div class="s-credit__info-bank">
            <img src="@img/alfa.svg" alt="logo">
          </div>
          <div class="s-credit__info-bank">
            <img src="@img/alfa.svg" alt="logo">
          </div>
          <div class="s-credit__info-bank">
            <img src="@img/alfa.svg" alt="logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
