<section class="s-intro" id="s-intro">
  <div class="swiper s-intro__slider">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide s-intro__slide"
        style="
          background: url(&quot;@img/intro.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="s-intro__slide-inside">
            <img src="@img/intro-logo.svg" alt="logo" class="s-intro__slide-logo">
            <h1 class="b-title s-intro__slide-title">
              Официальный дилер TENET / CHERY
            </h1>
            <div class="content-box s-intro__slide-content">
              <p>
                Покупая TENET / CHERY у официального дилера, вы получаете
                гарантию от производителя, качественное сервисное обслуживание и
                доступ к оригинальным запчастям. Доверьтесь профессионалам!
              </p>
            </div>
            <a href="#" class="s-intro__slide-btn btn-s _blur">
              <span>ПОСМОТРЕТЬ МОДЕЛЬНЫЙ РЯД</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide s-intro__slide"
        style="
          background: url(&quot;@img/intro.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="s-intro__slide-inside">
            <div class="s-intro__slide-inside">
              <div class="b-title s-intro__slide-title">
                Официальный дилер TENET / CHERY 2
              </div>
              <a href="#" class="s-intro__slide-btn btn-s _blur">
                <span>ПОСМОТРЕТЬ МОДЕЛЬНЫЙ РЯД</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide s-intro__slide"
        style="
          background: url(&quot;@img/intro.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="s-intro__slide-inside">
            <div class="b-title s-intro__slide-title">
              Официальный дилер TENET / CHERY
            </div>
            <div class="content-box s-intro__slide-content">
              <p>
                Покупая TENET / CHERY у официального дилера, вы получаете
                гарантию от производителя, качественное сервисное обслуживание и
                доступ к оригинальным запчастям. Доверьтесь профессионалам!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide s-intro__slide"
        style="
          background: url(&quot;@img/intro.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="s-intro__slide-inside">
            <div class="b-title s-intro__slide-title">
              Официальный дилер TENET / CHERY 3
            </div>
            <div class="content-box s-intro__slide-content">
              <p>
                Покупая TENET / CHERY у официального дилера, вы получаете
                гарантию от производителя, качественное сервисное обслуживание и
                доступ к оригинальным запчастям. Доверьтесь профессионалам!
              </p>
            </div>
            <a href="#" class="s-intro__slide-btn btn-s _blur">
              <span>ПОСМОТРЕТЬ МОДЕЛЬНЫЙ РЯД</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
