<section
  class="sect-p s-methods"
  id="s-methods"
  style="
    background: url(&quot;@img/method-bg.jpg&quot;) center / cover no-repeat;
  "
>
  <div class="container">
    <div class="s-methods__info">
      <h2 class="s-title s-methods__title">
        Купить
        <span>TENET T4L</span>
        в Ульяновске способы покупки:
      </h2>
      <div class="s-methods__grid">
        <div class="s-methods__item">
          <div class="item-head">
            <div class="item-num">1</div>
            <img src="@img/method.png" alt="icon" class="item-icon">
          </div>
          <div class="item-title">В кредит</div>
          <div class="item-text">Одобрение за 15 мин</div>
        </div>
        <div class="s-methods__item">
          <div class="item-head">
            <div class="item-num">2</div>
            <img src="@img/method.png" alt="icon" class="item-icon">
          </div>
          <div class="item-title">Рассрочка</div>
          <div class="item-text">0% переплат</div>
        </div>
        <div class="s-methods__item">
          <div class="item-head">
            <div class="item-num">3</div>
            <img src="@img/method.png" alt="icon" class="item-icon">
          </div>
          <div class="item-title">Трейд-ин</div>
          <div class="item-text">Оцените онлайн</div>
        </div>
        <div class="s-methods__item">
          <div class="item-head">
            <div class="item-num">4</div>
            <img src="@img/method.png" alt="icon" class="item-icon">
          </div>
          <div class="item-title">Наличные</div>
          <div class="item-text">Максимальная выгода</div>
        </div>
      </div>
    </div>
  </div>
</section>
