<section class="s-offer" id="s-offer">
  <div class="container">
    <div class="s-offer__wrapper">
      <img src="@img/offer.png" alt="image" class="s-offer__img" />
      <div class="s-offer__info">
        <h2 class="s-title s-offer__title">
          Запишитесь на
          <span>ТЕСТ-ДРАЙВ</span>
          автомобилей TENET/CHERY
        </h2>
        <p class="s-offer__content">Выберите удобный день для ТЕСТ-ДРАЙВА</p>
        <form action="#" class="s-offer__form">
          <div class="form-grid">
            <div class="input-control">
              <input type="tel" placeholder="Телефон" class="input" />
            </div>
            <div class="input-control">
              <input type="text" placeholder="Дата" class="input" />
            </div>
            <button type="submit" class="btn-s">Оставить заявку</button>
            <div class="form-check">
              <div class="check-wrapper">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" name="acceptance-469" />
                        <span class="wpcf7-list-item-label">
                          <span>
                            Я даю согласие на
                            <a href="/personal-data" target="_blank">
                              Обработку персональных данных
                            </a>
                          </span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
              <div class="check-wrapper">
                <span class="wpcf7-form-control-wrap">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input type="checkbox" name="acceptance-469" />
                        <span class="wpcf7-list-item-label">
                          <span>
                            Соглашаюсь на
                            <a href="/advertisement-policy" target="_blank">
                              Получение информационно-рекламной рассылки
                            </a>
                          </span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
