<section class="s-promo sect-p bg-ghost" id="s-promo">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Акции и специальные предложения</h2>
    </div>
    <div class="swiper s-promo__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__body">
              <h3 class="l-title card-promo__title">АВТО В КРЕДИТ</h3>
              <p class="card-promo__content">
                Выгода по трейд-ин - 150 000 ₽**
              </p>
              <a
                href="#modal-feedback"
                data-fancybox
                data-btn-note="Акция: АВТО В КРЕДИТ"
                data-target-note="#modal-feedback .input-note"
                class="btn-s _outline card-promo__btn"
              >
                <span>воспользоваться акцией</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </a>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__body">
              <h3 class="l-title card-promo__title">АВТО В КРЕДИТ</h3>
              <p class="card-promo__content">
                Выгода по трейд-ин - 150 000 ₽**
              </p>
              <a
                href="#modal-feedback"
                data-fancybox
                data-btn-note="Акция: АВТО В КРЕДИТ"
                data-target-note="#modal-feedback .input-note"
                class="btn-s _outline card-promo__btn"
              >
                <span>воспользоваться акцией</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </a>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__body">
              <h3 class="l-title card-promo__title">АВТО В КРЕДИТ</h3>
              <p class="card-promo__content">
                Выгода по трейд-ин - 150 000 ₽**
              </p>
              <a
                href="#modal-feedback"
                data-fancybox
                data-btn-note="Акция: АВТО В КРЕДИТ"
                data-target-note="#modal-feedback .input-note"
                class="btn-s _outline card-promo__btn"
              >
                <span>воспользоваться акцией</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </a>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__body">
              <h3 class="l-title card-promo__title">АВТО В КРЕДИТ</h3>
              <p class="card-promo__content">
                Выгода по трейд-ин - 150 000 ₽**
              </p>
              <a
                href="#modal-feedback"
                data-fancybox
                data-btn-note="Акция: АВТО В КРЕДИТ"
                data-target-note="#modal-feedback .input-note"
                class="btn-s _outline card-promo__btn"
              >
                <span>воспользоваться акцией</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </a>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__body">
              <h3 class="l-title card-promo__title">АВТО В КРЕДИТ</h3>
              <p class="card-promo__content">
                Выгода по трейд-ин - 150 000 ₽**
              </p>
              <a
                href="#modal-feedback"
                data-fancybox
                data-btn-note="Акция: АВТО В КРЕДИТ"
                data-target-note="#modal-feedback .input-note"
                class="btn-s _outline card-promo__btn"
              >
                <span>воспользоваться акцией</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </a>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" />
            </div>
            <div class="card-promo__body">
              <h3 class="l-title card-promo__title">АВТО В КРЕДИТ</h3>
              <p class="card-promo__content">
                Выгода по трейд-ин - 150 000 ₽**
              </p>
              <a
                href="#modal-feedback"
                data-fancybox
                data-btn-note="Акция: АВТО В КРЕДИТ"
                data-target-note="#modal-feedback .input-note"
                class="btn-s _outline card-promo__btn"
              >
                <span>воспользоваться акцией</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </a>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
