<section class="sect-m s-steps" id="s-steps">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Купить автомобиль TENET/CHERY в Ульяновске</h2>
    </div>
    <div class="s-steps__grid">
      <div class="s-steps__item">
        <img src="@img/icon-steps.svg" alt="icon" class="item-img" />
        <div>
          <div class="item-title">Заявка</div>
          <div class="content-box item-content">
            <a href="#">Отправьте заявку</a>
            на персональное предложение онлайн
          </div>
        </div>
      </div>
      <div class="s-steps__item">
        <img src="@img/icon-steps.svg" alt="icon" class="item-img" />
        <div>
          <div class="item-title">Одобрение</div>
          <div class="content-box item-content">
            Получите одобрение по кредиту в дилерском центре
          </div>
        </div>
      </div>
      <div class="s-steps__item">
        <img src="@img/icon-steps.svg" alt="icon" class="item-img" />
        <div>
          <div class="item-title">Договор</div>
          <div class="content-box item-content">
            Подпишите кредитный договор и заберите ваш новый автомобиль
            TENET/CHERY
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
