<section class="s-tradein" id="s-tradein" style="background: url('@img/tradein.jpg') center / cover no-repeat;">
  <div class="container">
    <div class="s-tradein__wrapper">
      <div class="s-tradein__info">
        <h2 class="s-title s-tradein__title">
          Выгодный обмен
          <span>ТРЕЙД-ИН</span>
          сдай свой старый автомобиль и получи скидку до 000 000 рублей на новую
        </h2>
        <a href="#" class="btn-s _blur s-tradein__btn">
          <span>Подробнее</span>
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-arrow-next'></use>
          </svg>
        </a>
      </div>
      <img src="@img/img-tradein.png" alt="image" class="s-tradein__img">
    </div>
  </div>
</section>